.menu {
  border: white;
  background-image: url("https://miro.medium.com/max/12000/0*hj6Hq7pDEGzxdAKS");
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  margin: 20px auto;
  width: 80%;
  font-size: 22px;
  color: white;
  opacity: 0.95;
}
.toggleMenu {
  cursor: pointer;
  padding-top: 15px;
  background-color: rgba(59, 59, 59, 0.801);
  border-radius: 8px;
  padding-bottom: 5px;
}
.top {
  margin: 15px;
}
.btn-light {
  min-width: 430px;
}
