@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap");
body {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}

@media (max-width: 699px) {
  body {
    background: url("../assets/backImg.png");
    background-size: cover;
  }
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: auto 250px 1fr;
      grid-template-rows: auto 250px 1fr;
  text-align: center;
  padding-bottom: 50px;
  width: 90%;
  min-width: 360px;
  background: rgba(0, 0, 0, 0.308);
  margin: auto;
}

.App .header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.App .info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/4/2;
}

.App .menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.App .forecast-header {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

@media (max-width: 1149px) {
  .App {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 600px auto 1fr;
        grid-template-rows: auto 600px auto 1fr;
  }
  .App .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .App .info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    width: 50%;
    min-width: 300px;
    padding: 20px;
  }
  .App .info .form-control {
    max-width: 300px;
    margin: 0 auto;
  }
  .App .info .btn-secondary {
    margin-bottom: 30px;
  }
  .App .menu {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    margin-top: 90px;
  }
  .App .forecast-header {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
}

.info {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  color: white;
  font-size: 1.4em;
  line-height: 1.8em;
}

.info .basicInfo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.39)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.39));
  border-radius: 20px;
  padding-bottom: 10px;
}

.info .basicInfo__day {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.info .basicInfo__clock {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.4em;
}

.alert {
  max-width: 300px;
  margin: 0 auto;
  opacity: 0.7;
}

.header {
  font-size: 3.4em;
  padding: 10px 20px;
  color: white;
  letter-spacing: 1.5vw;
}

.citySelect {
  margin: 30px 20px 0 20px;
}

.carousel-inner {
  width: 90%;
  margin: 0 auto;
}

.carousel-inner #first div:first-child {
  background-color: #6593e2;
  border: 4px solid white;
}

.single-forecast {
  max-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 8px;
  color: white;
  background-color: rgba(101, 147, 226, 0.7);
  padding: 15px;
  border-radius: 18px;
}

.hide {
  opacity: 0.7;
  min-width: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  opacity: 0.2;
}

.temperature {
  font-size: 32px;
  font-weight: bold;
}

.pressure {
  font-size: 20px;
}

.btn {
  margin: 5px;
  opacity: 0.7;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16 / 9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 699px) {
  .video {
    display: none;
  }
}

.container {
  padding: 0;
  min-width: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 699px) {
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu {
  border: white;
  border-radius: 12px;
  margin: 20px auto;
  width: 300px;
  font-size: 22px;
  color: white;
}

.toggleMenu {
  cursor: pointer;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 8px;
  padding-bottom: 5px;
}

.btn-dark {
  border: none;
  background-color: rgba(0, 0, 0, 0.15);
  min-width: 250px;
  max-width: 350px;
}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=style.css.map */