@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 100%;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: auto 250px 1fr;
      grid-template-rows: auto 250px 1fr;
  text-align: center;
  padding-bottom: 50px;
  width: 90%;
  min-width: 360px;
  background: rgba(0, 0, 0, 0);
  margin: auto;
}

.App .header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.App .info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/4/2;
}

.App .menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.App .forecast-header {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

@media (max-width: 699px) {
  .App .forecast-header {
    overflow-x: hidden;
  }
}

@media (max-width: 1149px) {
  .App {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto 1fr;
        grid-template-rows: auto auto auto 1fr;
  }
  .App .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .App .info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    width: 50%;
    min-width: 300px;
  }
  .App .info .form-control {
    max-width: 300px;
    margin: 0 auto;
  }
  .App .info .btn-secondary {
    margin-bottom: 30px;
  }
  .App .menu {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    margin-top: 90px;
  }
  .App .forecast-header {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
}

.info {
  margin: 0 auto;
  width: 80%;
  padding: 20px 10px 0px 10px;
  color: white;
  font-size: 1.4em;
  line-height: 1.8em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(rgba(32, 17, 2, 0.25)), to(rgba(32, 17, 2, 0.9)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(32, 17, 2, 0.25), rgba(32, 17, 2, 0.9));
  border-radius: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.info .basicInfo__day {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.info .basicInfo__clock {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.4em;
}

.alert {
  max-width: 300px;
  margin: 0 auto;
  opacity: 0.7;
}

.header {
  font-size: 3.4em;
  padding: 10px 20px;
  color: white;
  letter-spacing: 1.5vw;
}

.citySelect {
  margin: 30px 20px 0 20px;
}

.carousel-inner {
  width: 90%;
  margin: 0 auto;
}

.carousel-inner #first div:first-child {
  background-color: rgba(32, 17, 2, 0.651);
  border: 4px solid white;
}

@media (max-width: 699px) {
  .carousel-inner {
    overflow-x: scroll;
  }
}

.single-forecast {
  max-width: 200px;
  min-width: 170px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 8px;
  color: white;
  background-color: rgba(105, 105, 105, 0.582);
  padding: 15px;
  border-radius: 18px;
}

.hide {
  min-width: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  opacity: 1;
}

.temperature {
  font-size: 32px;
  font-weight: bold;
}

.pressure {
  font-size: 20px;
}

.btn {
  margin: 5px;
  opacity: 0.7;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 560px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  border: white;
  border-radius: 12px;
  margin: 20px auto;
  width: 300px;
  font-size: 22px;
  color: white;
}

.toggleMenu {
  cursor: pointer;
  padding-top: 15px;
  background-color: rgba(32, 17, 2, 0.6);
  border-radius: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.btn-dark {
  border: none;
  background-color: rgba(0, 0, 0, 0.76);
  min-width: 250px;
  max-width: 350px;
}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.884);
  border-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide-down {
  display: none;
  font-size: 0.7em;
  letter-spacing: 0.4em;
}

@media (max-width: 1149px) {
  .slide-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.7;
  }
  .slide-down .arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding: 0 20px;
    -webkit-animation: slide-down 1.1s linear infinite;
            animation: slide-down 1.1s linear infinite;
  }
}

::-webkit-scrollbar {
  height: 20px;
}

::-webkit-scrollbar-track {
  border: 2px solid rgba(255, 255, 255, 0.301);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e5e0;
  border-radius: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.322);
  border-radius: 10px;
}

.background {
  position: fixed;
  right: 0;
  z-index: -1;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

svg {
  width: 100vw;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 699px) {
  svg {
    opacity: 0;
  }
}

#backgroundImg {
  width: 80%;
  height: auto;
  -webkit-animation: rotate 50s linear infinite;
          animation: rotate 50s linear infinite;
}

@media (max-width: 699px) {
  #backgroundImg {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
  }
}

.imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 56.25vw;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.background::before {
  content: "";
  z-index: -5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../assets/forest1.jpg);
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@media (max-width: 699px) {
  .background::before {
    -webkit-filter: none;
            filter: none;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(90deg);
            transform: translateY(10px) rotate(90deg);
    opacity: 0.4;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(90deg);
            transform: translateY(10px) rotate(90deg);
    opacity: 0.4;
  }
}
/*# sourceMappingURL=style.css.map */